.dharmen1, img{
    width: 100%;
    position: absolute;
}

p{
    font-size: 16px;
    text-align: justify;
    padding-left: 40px;
    line-height: 30px;
    margin-bottom: 30px;
}

.dharmen2{
    padding-bottom: 60px;
}

b{
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    
}

.dharmen3{
    font-size: 16px;
    text-align: justify;
    padding-left: 40px;
    line-height: 30px;
    
    padding-bottom: 30px;
}